<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<%= flash[:notice] %>
<h1>Guest Details:</h1>
	Name: <br>
	<%= @guest.name %><br><br>
	Occupation: <br>
	<%= @guest.occupation %>
</body>
</html>